/* custom font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.notify {
    color: #fff;
    text-align: center;
    background: #222436;
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}